# -----------------------【required】-----------------------

# 日志
loguru~=0.6.0

# -----------------------【optional】-----------------------
# Web框架与相关工具
fastapi~=0.115.12

# redis客户端
redis==5.0.4

# http客户端
requests==2.32.0
httpx==0.28.1

# mysql客户端
DBUtils==3.1.0
pymysql==1.1.1

# ORM
tortoise-orm==0.21.5
pydantic~=2.9.2

# -----------------------【dev】-----------------------
# 测试框架
pytest==8.3.5
pytest-cov==6.0.0
pytest-asyncio==0.25.3

# pre commit
pre-commit==4.2.0
